<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Adição de Curso</title>
</head>
<body>
    <h1>Adicionar Novo Curso</h1>
    <form action="/cursos" method="POST">
        <label for="nome">Nome do Curso:</label>
        <input type="text" id="nome" name="nome"><br><br>
        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao" name="descricao" rows="4" cols="50"></textarea><br><br>
        <label for="id_secretaria">Secretaria:</label>
        <select id="id_secretaria" name="id_secretaria">
            {% for secretaria in secretarias %}
                <option value="{{ secretaria.id }}">{{ secretaria.nome }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Adicionar Curso">
    </form>
</body>
</html>
