<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Adição de Inscrição</title>
</head>
<body>
    <h1>Adicionar Nova Inscrição</h1>
    <form action="/inscricoes" method="POST">
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="1" selected>Ativo</option>
            <option value="0">Inativo</option>
        </select><br><br>
        <label for="id_aluno">Aluno:</label>
        <select id="id_aluno" name="id_aluno">
            {% for aluno in alunos %}
                <option value="{{ aluno.id_aluno }}">{{ aluno.nome_aluno }}</option>
            {% endfor %}
        </select><br><br>
        <label for="id_secretaria">Secretaria:</label>
        <select id="id_secretaria" name="id_secretaria">
            {% for secretaria in secretarias %}
                <option value="{{ secretaria.id }}">{{ secretaria.nome }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Adicionar Inscrição">
    </form>
</body>
</html>
