<!-- planos-form.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Plano de Aula</title>
</head>
<body>
    <h1>Adicionar Novo Plano de Aula</h1>
    <form action="/planos" method="POST">
        <label for="data">Data:</label>
        <input type="date" id="data" name="data"><br><br>
        <label for="conteudo">Conteúdo:</label><br>
        <textarea id="conteudo" name="conteudo" rows="4" cols="50"></textarea><br><br>
        <label for="id_turma">ID Turma:</label>
        <select id="id_turma" name="id_turma">
            {% for turma in turmas %}
                <option value="{{ turma.id }}">{{ turma.nome }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Adicionar Plano">
    </form>
</body>
</html>
